@font-face {
  src: url(../fonts/Montserrat.ttf);
  font-family: mont;
  font-display: swap;
}

@font-face {
  src: url(../fonts/Inter.ttf);
  font-family: inter;
  font-display: swap;
}

:root {
  --primary-color: #0055ff;
  --text-color: #404040;
  --card-color: #264f36;
  --button-color: #ffbc0d;
  --background: #2c2523;
  --background-white: #f1f0ea;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  translate: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0055ff;
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #0055ff #232E33;
  }
}

::selection {
  background: transparent;
}

.text:hover {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: -9999;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin: 7px 0;
}

.vertical-separator {
  height: 1rem;
  border-radius: 2px;
  border: 2px solid #88888855;
  margin: 0 1rem;
}

.app {
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.top .search-bar {
  display: flex;
  align-items: center;
  background-color: var(--card-color);
  padding: 20px 30px;
  border-radius: 7px;
}

.top .search-bar input {
  font: 600 25px inter;
  width: 100px;
  text-align: center;
  margin-right: 10px;
  padding: 8px;
  background-color: var(--background-white);
  border: none;
  border-radius: 50px;
  color: var(--text-color);
}

.top .search-bar button {
  padding: 10px 15px;
  font: 600 20px inter;
  color: var(--text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.floor-plan {
  position: relative;
  width: 1200px;
  height: 1500px;
  border: 2px solid var(--card-color);
  margin-top: 2rem;
  background: var(--background-white);
  border-radius: 8px;
  transform: scale(0.7);
  transform-origin: top center;
}

/* Comptoir */
.counter {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 100px;
  background-color: #6a994e;
  color: var(--background-white);
  text-align: center;
  border-radius: 7px 0 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 800 25px inter;
}

.counter i {
  margin-right: 7px;
  font-size: 30px;
}

/* Séparateur */
.dividor {
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #636262;
  z-index: 100;
}

.dividor-v {
  position: absolute;
  width: 50px;
  height: 2px;
  rotate: 90deg;
  border: 2px dashed #636262;
  z-index: 100;
}

/* Zone */
.zone {
  position: absolute;
  font: 800 25px inter;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.zone svg {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.zone svg path {
  fill: var(--text-color);
}

.zone i {
  margin-right: 7px;
}

.zone-hover {
  background-color: #ffbc0d;
  opacity: 0.5;
  width: 100%;
  min-height: 5%;
  position: absolute;
  z-index: -99;
}

/* Porte & poubelles */

.door,
.trash {
  position: absolute;
  color: var(--text-color);
  font: 600 16px inter;
  padding: 2px 6px;
  display: flex;
  align-items: center;
}

.door i.right,
.trash i.right {
  margin-right: 0;
  margin-left: 7px;
}

.door i,
.trash i {
  font-size: 30px;
  margin-right: 7px;
}

/* Tables */

.table {
  position: absolute;
  width: 100px;
  height: 70px;
  background-color: #6f6866;
  font: 600 20px inter;
  color: var(--background-white);
  border: 2px solid #404040;
  border-radius: 8px;
  padding: 5px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.table.rectangle {
  width: 120px;
  height: 60px;
  border-radius: 8px;
}

.table.rectangle-v {
  width: 60px;
  height: 120px;
  border-radius: 8px;
}

.table.rectangle-vs {
  width: 60px;
  height: 80px;
  border-radius: 8px;
}

.table.rectangle-s {
  width: 80px;
  height: 60px;
  border-radius: 8px;
}

.table.rectangle-l {
  width: 30px;
  height: 120px;
  border-radius: 8px;
  font-size: 13px;
}

.table.square {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.table.round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.blink {
  animation: blink-animation 0.6s ease-in-out 10;
  border-color: red;
  color: var(--text-color);
  background-color: var(--button-color);
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modal-content svg {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  fill: #e74c3c;
}

.modal-content p {
  font: 500 20px inter;
  color: var(--text-color);
}

.modal-content button {
  margin-top: 1rem;
  background: #e74c3c;
  color: #fff;
  font: 600 20px inter;
  border: none;
  padding: 20px 30px;
  border-radius: 4px;
  cursor: pointer;
}

/* Errors */

.errorBackground {
  perspective: 1600px;
  color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.errorBackground div {
  transform: translate3d(0, 0, 0) rotateX(60deg) rotateY(0) rotate(0) rotate3d(0, 0, 0, 0deg) skewX(0) skewY(0) scale3d(1, 1, 1) !important;
  -webkit-mask-image: radial-gradient(var(--tw-mask-shape) var(--tw-mask-reach) at var(--tw-mask-at), var(--tw-mask-stops));
  mask-image: radial-gradient(var(--tw-mask-shape) var(--tw-mask-reach) at var(--tw-mask-at), var(--tw-mask-stops));
  --tw-mask-shape: ;
  --tw-mask-reach: closest-side;
  --tw-mask-at: center;
  --tw-mask-from-opacity: 1;
  --tw-mask-point-from: ;
  --tw-mask-from: rgba(0, 0, 0, var(--tw-mask-from-opacity)) var(--tw-mask-point-from);
  --tw-mask-to-opacity: 0;
  --tw-mask-point-to: ;
  --tw-mask-to: rgba(0, 0, 0, var(--tw-mask-to-opacity)) var(--tw-mask-point-to);
  --tw-mask-stops: var(--tw-mask-from), var(--tw-mask-to);
  color: hsl(var(--foreground) / .5);
  --foreground: var(--hue) 10% 95%;
  --hue: 210.11764705882354;
  width: 200%;
  height: 200%;
  --dots-color: hsla(0, 0%, 100%, 0.329);
  background-image: radial-gradient(var(--dots-color) 1px, transparent 0);
  background-size: 2rem 2rem;
  background-position: top;
}