@font-face {
  src: url(../fonts/Montserrat.ttf);
  font-family: mont;
  font-display: swap;
}

@font-face {
  src: url(../fonts/Inter.ttf);
  font-family: inter;
  font-display: swap;
}

:root {
  --primary-color: #0055ff;
  --text-color: #404040;
  --card-color: #264f36;
  --button-color: #ffbc0d;
  --background: #2c2523;
  --background-white: #f1f0ea;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  translate: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0055ff;
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #0055ff #232E33;
  }
}

::selection {
  background: transparent;
}

.text:hover {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: -9999;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin: 7px 0;
}